@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* structure */
html, body {
	height:100%;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

/*
body > * {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);	
	transition:left 0.3s, opacity 0.2s;
	transition-delay:0.3s;
}
*/

.container {
	position:absolute;
	left:0; top:40px;
	
	width:100%; min-height:90%;
	display:flex;
	align-items:center;
	justify-content:center;
	
	max-width:10000000px; max-height:10000000px;
	overflow:hidden;
	transition:transform 0.3s ease 0.3s, opacity 0.2s ease 0.3s, max-width 0.1s ease 0.2s, max-height 0.1s ease 0.2s;
}

.container > * {

	position:relative;
	display:inline-block;
}

.container[data-nav-state="hiddenAfter"], .container[data-nav-state="hiddenBefore"], .container[data-nav-state="hidden"] {
	opacity:0;
	pointer-events:none;
	transition:transform 0.3s ease 0s, opacity 0.2s ease 0s, max-width 0.1s ease 0.2s, max-height 0.1s ease 0.2s;
	
	max-width:0; max-height:0; 
}
.container[data-nav-state="hiddenAfter"] { 
	transform:translateX(10%); 
}
.container[data-nav-state="hiddenBefore"] { 
	transform:translateX(-10%);
}

.w800 {
	width:800px;
}

.w400 {
	width:400px;
}

.w300 {
	width:300px;
}

.w500 {
	width:500px;
}

.msg {
	text-align:center;
}

.contentTest {
	pointer-events:none;
	opacity:0;
	position:static;
	left:100%;
	top:100%;
}

/* Nav */
#nav {
	position:fixed;
	left:15px; top:0px;
	border-bottom:3px solid rgb(240,240,240);
	height:34px;
	transform:none;
	transition:top 0.5s;
}

#nav[data-hidden] {
	top:-50px;
}

#nav > label {
	box-sizing:border-box;
	display:inline-block;
	padding:0px;
	margin:15px 10px 0 0;
	font: 14px 'Open Sans';
	color:rgb(96,96,96);
	border-bottom:3px solid rgb(240,240,240);
	transition:border-color 0.2s;
	cursor:pointer;
}

#nav > label:last-child {
	margin-right:0;
}

#nav label[data-checked] {
	border-color:rgb(64,128,196);
}

#nav > label:hover {
	border-color:rgb(128,180,255);
}

/* Basic styling */
p {
	display:inline;
	margin:0;
	padding:0;
	border:0;
	
}

ul li {
	font:14px 'Open Sans';
	color:rgb(30,30,30);	
}

a {
	font:12px 'Open Sans';
	text-decoration:none;
	color:rgb(30,30,120);	
}

h1 {
	font: 30px 'Open Sans';
	color:rgb(64,128,196);
	border-bottom:1px solid rgb(196,196,196);
}

h2 {
	font: 14px 'Open Sans';
	color:rgb(96,96,96);
}

h3 {
	font:11px 'Open Sans';
	color:rgb(128,128,128);
}

h4 {
	text-align:center;
	background-color:rgb(240,240,255);
	font: 44px 'Open Sans';
	color:rgb(64,128,64);
	margin:10px;
}

table {
	width:100%;
	font:12px 'Open Sans';
}

th, td {
	text-align:left;
	padding:4px;
}

th {
	font-weight:650;
	background-color:rgb(200,220,255);	
}

tr {
	background-color:rgb(250,250,250);
	cursor:pointer;
}

tr:nth-child(even) {
	background-color:rgb(255,255,255);
}

tr:hover { 
	background-color:rgb(230,230,255);
}
	
.note {
	font: 14px 'Open Sans';
	color:rgb(96,96,96);
	float:right;
	line-height:60px;
}

.tooltipper {
	position:relative;
	width:100%;
}

.tooltip {
	overflow:hidden;
	position:absolute;
	left:101%; top:-5px;
	background-color:rgba(0,0,0,0.5);
	color:white;
	font:12px 'Open Sans';
	white-space:nowrap;
	max-height:0;
	opacity:0;
	transition: opacity 0.2s;
}

.tooltip tr {
	background-color:transparent;
}

.tooltipper:hover .tooltip, .tooltip:hover {
	max-height:5000px;
	opacity:1;
}

.faultyLetter {
	background-color:rgba(255, 0, 0, 0.5);
}

.faultyWord {
	background-color:rgba(255, 150, 0, 0.5);
}

.faultySentence {
	background-color:rgba(255, 255, 0, 0.3);
}